.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
a:focus,
button:focus {
  outline: none;
  outline-offset: 0;
}
:focus {
  outline: none;
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container-fluid {
    padding: 0 25px;
  }
  .footer-wrapper .container-fluid {
    padding: 0 300px;
  }
  .page-wrapper [class*="col-"] {
    padding: 0 7.5px;
  }
  .page-wrapper .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
}
@media only screen and (min-width: 1181px) {
  .container-fluid {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 1281px) {
  .container-fluid {
    padding: 0 73px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 1680px) {
  .footer-wrapper .footer-menu .f-links h4,
  p,
  .page-wrapper .accordion-links .list-links ul a {
    font-size: 18px;
  }
  .top-header .navbar-nav .nav-item a {
    font-size: 16px;
  }
  .footer-wrapper .footer-menu .f-links ul li a,
  .footer-wrapper .copy-right .text-copy,
  .footer-wrapper .copy-right .text-proud {
    font-size: 14px;
  }
  .page-wrapper .accordion-links .card-header a,
  .page-wrapper .other-links ul li a,
  h3 {
    font-size: 22px;
  }
  .footer-wrapper .container-fluid {
    padding: 0 225px;
  }
  .page-wrapper .accordion-links .card-header,
  .page-wrapper .other-links ul li a {
    padding: 15px 20px;
  }
  .page-wrapper .accordion-links .list-links ul {
    padding-left: 10px;
  }
  .page-wrapper .accordion-links .list-links ul li {
    padding: 10px 0;
  }
  p:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1440px) {
  .footer-wrapper .container-fluid {
    padding: 0 200px;
  }
  p:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1366px) {
  .footer-wrapper .footer-menu .f-links h4,
  p,
  .page-wrapper .accordion-links .list-links ul a {
    font-size: 16px;
  }
  .top-header .navbar-nav .nav-item a {
    font-size: 15px;
  }
  .footer-wrapper .footer-menu .f-links ul li a,
  .footer-wrapper .copy-right .text-copy,
  .footer-wrapper .copy-right .text-proud {
    font-size: 13px;
  }
  .page-wrapper .accordion-links .card-header a,
  .page-wrapper .other-links ul li a,
  h3 {
    font-size: 20px;
  }
  .footer-wrapper .container-fluid {
    padding: 0 175px;
  }
  .page-wrapper .accordion-links .card-header,
  .page-wrapper .other-links ul li a {
    padding: 10px 20px;
  }
  .page-wrapper .accordion-links .list-links ul {
    padding-left: 10px;
  }
  .page-wrapper .accordion-links .list-links ul li {
    padding: 8px 0;
  }
  .top-header .navbar-nav .nav-item a,
  .top-header .navbar-nav li:last-child a {
    padding: 10px 20px;
  }
  .page-header .card-text {
    padding: 20px 10px 5px 60px;
  }
  .footer-wrapper .footer-menu .f-links h4 {
    margin-bottom: 20px;
  }
  .footer-wrapper .copy-right .text-copy,
  .footer-wrapper .copy-right .text-proud {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1280px) {
  .footer-wrapper .container-fluid {
    padding: 0 150px;
  }
  .footer-wrapper .top-footer {
    padding: 60px 0;
  }
  .footer-wrapper .footer-menu .f-links h4,
  p,
  .page-wrapper .accordion-links .list-links ul a {
    font-size: 15px;
  }
  .footer-wrapper .footer-menu .f-links h4 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-wrapper .container-fluid {
    padding: 0 75px;
  }
  .top-header .navbar-nav .nav-item a,
  .top-header .navbar-nav li:last-child a {
    padding: 5px 10px;
  }
  .top-header .navbar-brand {
    padding: 8px 0;
    max-width: 200px;
  }
  .page-header {
    padding: 15px 0 10px 0;
  }
}
@media only screen and (max-width: 980px) {
  .top-header .navbar-brand {
    padding: 8px 15px;
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #4a4a53;
    margin: 5px 0;
  }
  .footer-wrapper .container-fluid {
    padding: 0 15px;
  }
  .footer-wrapper .top-footer {
    padding: 40px 0;
    text-align: center;
  }
  .footer-wrapper .footer-menu {
    display: block;
  }
  .footer-wrapper .footer-menu .f-links {
    margin-bottom: 20px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px) {
  .page-header .card-text {
    padding: 5px 10px 5px 52px;
    background-size: cover;
  }
  .page-wrapper .content-wrapper {
    padding: 15px;
  }
  .page-wrapper .accordion-links .card-header,
  .page-wrapper .other-links ul li a {
    padding: 10px;
  }
  .page-wrapper .accordion-links .card-body {
    padding: 0px;
  }
  .page-wrapper .content-wrapper {
    padding: 10px;
    margin-bottom: 20px;
  }
}
/* Custom, iPhone Retina */
